
# Ignorar dependências do Composer
/vendor/

composer.lock
# Ignorar arquivos de sistema
*.log
*.tmp

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de cache
/cache/
